.contenedor-desafio {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  transform: translate(100%, 0); 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	background-image: url(/img/back-desafio.png);
	background-size: cover;
	padding-top: 42px;
	
	&.activo {
		transform: translate(0%, 0); 
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	
	.cruz {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 18px;
	}
	
	.detalle {
		margin: 2px;
		background-color: rgba(255, 255, 255, 0.95);
		border-radius: 8px;
		border: 2px solid gray;
		color: black;
		overflow-y: scroll;
		height: calc(100vh - 120px);
		
		small {
			color: black;
		}
					
		.video {
			video {
				width: 100%;
			}
		}
		
		.descripcion {			
			padding: 0.4em;
			
			p {
				text-align: justify;
			}
		
			.encabezado {
				display: flex;				
			}
		}
		
		.marco-fotografias {
			display: flex;
			padding: 0.5em;
			
			.camara {
				display: block;
				position: relative;
				width: 120px;
				height: 120px;
				border: 2px solid gray;
				border-radius: 6px;
				font-size: 12px;
				margin-top: 4px;
				z-index: 0;
				
				.drop-texto {
					position: absolute;
					opacity: 0;
					width: 116px;
					height: 116px;
					background-image: url(/img/drag-and-drop.png);				
					background-size: cover;					
					background-position: center;
					border-radius: 6px;
					top: 0px;
					left: 0px;
					z-index: 1;
					
					&.activo {
						opacity: 1;
					}
				}
				
				i {
					width: 45px;
					height: 45px;
					background-color: ghostwhite;
					border: 2px solid gray;
					border-radius: 50%;
					margin-top: 15px;
					padding-top: 2px;
					font-size: 38px;
					color: gray;
				}
			}
			
			.fotos {
				display: block;
				width: calc(100% - 120px);
				
				.foto {
					.marco-desafio {
						display: flex;
						margin-left: 16px;
						border: 2px solid gray;
						border-radius: 4px;
						margin: 4px;
						
						img {
							width: 40px;
							margin: 2px;
						}

						p {
							padding-left: 4px;
							text-decoration: underline;
							color: royalblue;
							width: 100%;
							text-align: left;
						}
						
						.eliminar {
							background-color: orangered;
							border-radius: 3px;
							padding: 2px;
							color: white;
							height: 30px;
							width: 230px;
							margin-top: 10px;
							margin-right: 8px;
							
							i {
								margin-top: 1px;
							}
							
							span {
								position: relative;
								top: -8px;
							}
						}
					}
				}
			}
		}
		
		.marco-calificacion {
			text-align: center;
			.calificacion {
				margin: 0 auto 1em auto;
				width: 120px;
				height: 120px;
				padding: 0.5em;
				border-radius: 50%;
				
				i {
					margin-top: 16px;
					font-size: 42px;
				}
			}
		}
		
		.marco-comentarios-profesor {
			background-color: white;
			border: 2px solid gray;
			border-radius: 8px;
			margin: 0 1em 2em 1em;
			padding: 0 1em 0.2em 1em;
			
			p {
				text-align: justify;
				font-size: 14px;
			}
		}
		
		button {
			margin-top: 10px;
			margin-bottom: 10px;
			width: calc(100% - 20px);
			font-size: 16px;
			padding: 10px;
		}
	}
}


