<template name="desafio">
	<div class="contenedor-desafio">
		<div class="cruz">
			<i class="material-icons">clear</i>
		</div>
		<div class="detalle">
			
			<div class="resumen bordeado">
				<h4><span class="material-icons">{{desafio.asignaturaObj.icon}}</span> Desafío <small> en {{desafio.asignaturaObj.label}}</small></h4>
				<h2>{{desafio.titulo}}</h2>
				<p class="pregunta">¿Qué aprenderé hoy?</p>
				<p>{{desafio.que}}</p>
				<p class="pregunta">¿Para qué lo aprenderé?</p>
				<p>{{desafio.paraque}}</p>
				<p class="pregunta">¿Cómo lo aprenderé?</p>
				<p>{{desafio.como}}</p>			
			</div>
			
			<div class="video">
				{{#if capsula}}
				<video src="{{capsula}}" controls></video>
				{{else}}
					{{#if desafio.url}}
					<iframe width="400" height="315" src="{{desafio.url}}">
					</iframe>
					{{/if}}
					{{#if desafio.video}}
					<video controls>
						<source src="{{desafio.video}}" type="video/mp4">					
						Your browser does not support the video tag.
					</video>
					{{/if}}
					{{#if desafio.youtube}}
						<div class="youtube" id="{{desafio.youtubeId}}" style="width:560px; height: 315px;"></div>
					{{/if}}
				{{/if}}

			</div>
			
			<div class="descripcion bordeado">
				<div class="encabezado">
					<i class="material-icons">keyboard_arrow_down</i>
					&nbsp;<span>EL DESAFÍO</span>
				</div>
				<p>{{{desafio.descripcion}}}</p>
			</div>
			
			<div class="marco-fotografias bordeado">
				<p class="titulo">TUS EVIDENCIAS</p>
				<div class="evidencias">
					{{#if entrega.abierta}}
					<div class="camara">
						<i class="material-icons">photo_camera</i><br />
						<p>Tomar / Arrastrar<br />fotografía</p>
						<div class="drop-texto"></div>					
					</div>
					{{/if}}
					<div class="fotos">
						{{#each fotos}}
						<div class="foto" id={{_id}}>
							<div class="marco-desafio">
								<img src="{{imagen}}">
								<p class="nombre" id="{{_id}}">Página {{indice}}</p>
								{{#if entrega.abierta}}
								<div class="eliminar" id="{{_id}}">
									<i class="material-icons">clear</i>
									<span>Eliminar</span>
								</div>
								{{/if}}
							</div>
						</div>
						{{else}}
						<h2>Falta que subas fotos</h2>
						{{/each}}
					</div>
					<input type="file" id="upload-image" style="display: none;">
				</div>
			</div>
			
			{{#if entrega.calificacion}}
			<div class="marco-calificacion bordeado">
				<h4>Has sido calificado con un:</h4>
				<div class="calificacion" style="background-color: {{entrega.calificacion.color}}">
					<i class="material-icons">{{entrega.calificacion.icono}}</i>
					<p>{{entrega.calificacion.etiqueta}}</p>
				</div>
			</div>
			<div class="marco-comentarios-profesor bordeado">
				<h3><i class="material-icons">record_voice_over</i> Comentarios <small>del profesor</small></h3>
				<p>{{entrega.comentario}}</p>
			</div>
			{{/if}}
			
			<div class="contenedor-kpsis bordeado">
				<div class="titulo">Autoevaluándome</div>
				<div class="subtitulo">Desarolla tu capacidad de evaluar lo aprendido.</div>
				<div class="leyenda-kpsi">
					<ul>
						<li>1 = No soy capaz</li>
						<li>2 = Algo capaz</li>
						<li>3 = Soy capaz</li>
						<li>4 = Capaz</li>
					</ul>
				</div>
				<div class="kpsis">
					{{#each desafio.kpsis}}
					<div class="kpsi">
						<div class="texto">{{letra}})</div>
						<p class="descripcion-kpsi">{{valor}}</p>
						<div class="valor" id="{{indice}}">
							<div class="numero {{#if seleccionado1}}activo{{/if}}">1</div>
							<div class="numero {{#if seleccionado2}}activo{{/if}}">2</div>
							<div class="numero {{#if seleccionado3}}activo{{/if}}">3</div>
							<div class="numero {{#if seleccionado4}}activo{{/if}}">4</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			
			{{#if entrega.abierta}}
			<button class="btn-juegas btn-enviar-desafio" disabled="{{#unless tieneFotos}}disabled{{/unless}}">
				<i class="material-icons">send</i>
				<span>Enviar desafío a revisión</span>
			</button>
			{{/if}}

		</div>
	</div>
	{{> foto}}
</template>
