.info {
  padding: 0 1em;
  text-align: left;
	
	.creditos {
		display: flex;
		
		.resumen {
			text-align: center;
			background-color: white;
			border-radius: 16px;
			color: #5c5c5c;
			width: 142px;
			margin-bottom: .5em auto;			

			.titulo {
				font-size: 16px;
				margin-bottom: 0px;
			}
			
			.contador {
				font-size: 32px;
				margin-top: -4px;
				margin-bottom: 0px;				
			}
			
			.pie {
				font-size: 12px;
				margin-top: -6px;
			}
		}
		
		button {
			height: 62px;
			margin-right: 0;
			margin-left: auto;
			background-color: lightblue;
		}
	}
}

.contenedor-horarios {
  height: calc(100vh - 226px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.2);
	
	.barra-dia {
		margin: .2em;
		background-color: rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		padding: .1em;
		color: white;
		
		.barra {
			display: flex;
			border-radius: 6px;
			margin: 4px;
			padding: 6px;
			
			.tipo {
				width: 41px;
				height: 41px;
				border-radius: 50%;
				border: 2px solid white;
				
				i {
					font-size: 38px;
					margin-left: -1px;
				}
			}
			
			.descripcion-tarea {
				color: white;
				text-align: left;
				padding-left: 10px;				
				display: inline-block;
				white-space: nowrap;
				
				.titulo {
					position: relative;
					top: -2px;
					font-size: 18px;					
				}
				
				.plazo {
					position: relative;
					top: -4px;
					
					.material-icons {
						font-size: 14px;
					}
				}
			}			
		
			.marco-iconos {
				display: block;
				width: 100%;				
				
				.contenedor-iconos {
					display: flex;					
					justify-content: flex-end;

					i {
						margin-top: 2px;
						font-size: 42px;
					}
				}		
			}			
						
			&.verde {
				background-color: limegreen;
				color: white;
			}
			
			&.amarillo {
				background-color: yellow;
				color: darkslategrey;
			}
			
			&.rojo {
				background-color: salmon;
				color: whitesmoke;
			}
		}

		&.verde {
			.tipo {
				color: white;
				border: 2px solid white;
			}
		}
		
		&amarillo {
			.tipo {
				color: darkslategrey;
				border: 2px solid darkslategrey;
			}
		}
	}
}

