.info {
  padding: 0 1em;
  text-align: left;
}

.info .creditos {
  display: flex;
}

.info .creditos .resumen {
  text-align: center;
  background-color: white;
  border-radius: 16px;
  color: #5c5c5c;
  margin: auto;
  width: 142px;
  margin-bottom: .5em;
}

.info .creditos .resumen .titulo {
  font-size: 10px;
  margin-bottom: 0px;
}

.info .creditos .resumen .contador {
  font-size: 32px;
  margin-top: -4px;
  margin-bottom: 0px;
	padding-left: 10px;
}

.info .creditos .resumen .pie {
  font-size: 9px;
  margin-top: -6px;  
}

.info .creditos button {
  height: 62px;
  margin-right: 0;
  margin-left: auto;
	background-color: lightblue;
}

.contenedor-horarios {
  height: calc(100vh - 226px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.2);
}

.contenedor-horarios .barra-dia {
  margin: .2em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: .5em;
}

.contenedor-horarios .barra-dia .barra {
  position: relative;
  border-radius: 6px;
  margin: 4px;
  padding: 6px;
  height: 42px;
	opacity: 0.8;
}

.contenedor-horarios .barra-dia .barra.verde {
  background-color: limegreen;
  color: white;
}

.contenedor-horarios .barra-dia .barra.amarillo {
  background-color: yellow;
  color: darkslategrey;
}

.contenedor-horarios .barra-dia .barra.rojo {
  background-color: salmon;
  color: whitesmoke;
}

.contenedor-horarios .barra-dia .barra .tipo {
  position: absolute;
  top: 6px;
  left: 6px; 
	width: 36px;
	height: 36px;
  border-radius: 50%;
}

.contenedor-horarios .barra-dia .barra .tipo span {
	margin-top: 6px;
}

.contenedor-horarios .barra-dia .barra .descripcion-tarea {
  color: white;
  position: absolute;
  top: 6px;
  left: 52px;
	text-align: left;
}

.contenedor-horarios .barra-dia .barra .descripcion-tarea .titulo {
	position: relative;
	top: -2px;
	font-size: 18px;
}

.contenedor-horarios .barra-dia .barra .descripcion-tarea .plazo {
	position: relative;
	top: -4px;
}

.contenedor-horarios .barra-dia .barra .descripcion-tarea .plazo .material-icons {
	font-size: 14px;
}

.contenedor-horarios .barra-dia .barra .check {
  position: absolute;
  top: 6px;
  right: 12px;
}

.contenedor-horarios .barra-dia .barra .check .material-icons {
	font-size: 42px;
}

.contenedor-horarios .barra-dia .barra.verde .tipo {
  color: white;
  border: 2px solid white;
}

.contenedor-horarios .barra-dia .barra.amarillo .tipo {
  color: darkslategrey;
  border: 2px solid darkslategrey;
}

.contenedor-horarios .barra-dia .barra.amarillo .descripcion-tarea,
.contenedor-horarios .barra-dia .barra.amarillo .check {
  color: darkslategray;
}


.contenedor-horarios .barra-dia .barra.rojo .tipo {
  color: white;
  border: 2px solid white;
}

.contenedor-horarios .barra-dia .barra.rojo .descripcion-tarea {
  color: white;
}