<template name="menu">
  <div class="contenedor-menu capa-gradiante purpura">
    <div class="cruz">
      <i class="material-icons">clear</i>
    </div>    
    <h1>Juegas<small> v{{version}}</small></h1>
		
		{{#if esAlumno}}
		<div class="contenedor-leyendas">
			
			<div class="contenedor-leyenda leyendas-asignaturas">
				<h3>ASIGNATURAS</h3>
				{{#each asignaturas}}
				<div class="leyenda">
					<i class="material-icons">history_edu</i>
					<p>Historia</p>
				</div>
				{{/each}}
			</div>
			
			<div class="contenedor-leyenda leyendas-desafio">
				<h3>DESAFIO</h3>
				<div class="leyenda">
					<i class="material-icons">flag</i>
					<p>Fecha de inicio</p>
				</div>
				<div class="leyenda">
					<i class="material-icons">alarm_on</i> 
					<p>Fecha de término</p>
				</div>						
			</div>
			
			<div class="contenedor-leyenda leyendas-resultado">
				<h3>RESULTADOS</h3>
				<div class="leyenda">
					<i class="material-icons">remove_circle</i>
					<p>El desafío te espera, haz click en la tarea y verás que debes hacer</p>
				</div>
				<div class="leyenda">
					<i class="material-icons">record_voice_over</i> 
					<p>El profesor te ha comentado algo. Revisa tu desafío.</p>
				</div>
				<div class="leyenda">
					<i class="material-icons">hourglass_top</i> 
					<p>Tu entrega ha sido recibida. Pronto será evaluada.</p>
				</div>
				<div class="leyenda">
					<i class="material-icons">feedback</i> 
					<p>Tu evaluación es MEJORABLE. ¡Mejorar siempre es posible!</p>
				</div>
				<div class="leyenda">
					<i class="material-icons">check_circle</i> 
					<p>Tu evaluación es BIEN. ¡Vas por buen camino!</p>
				</div>
				<div class="leyenda">
					<i class="material-icons">stars</i> 
					<p>Tu evaluación es MUY BIEN. ¡Vamos por más!</p>
				</div>
				<div class="leyenda">
					<i class="material-icons">military_tech</i>
					<p>Tu evaluación es EXCELENTE. ¡Felicitaciones!</p>
				</div>
			</div>
			
		</div>
		{{/if}}
		
		{{#if esProfesor}}
		<div class="contenedor-leyendas">			
			<div class="contenedor-leyenda">
				<h3>INSTRUCCIONES</h3>
				<p class="parrafo">Cada casilla muestra el estado de una entrega, que puede ser, estado de espera ó la evaluación.</p>
				<p class="parrafo">Haciendo click sobre una casilla, se podrá gestionar la evaluación del alumno.</p>
				<p class="parrafo">Al hacer click sobre una fecha, se edita la tarea de dicho periodo</p>				

				<h3>SIGNIFICADOS</h3>
				<div class="leyenda">
					<i class="material-icons">add_task</i>
					<p>Agregar nueva tarea</p>
				</div>
				{{#each evaluaciones}}
				<div class="leyenda">
					<i class="material-icons" style="color: {{color}}">{{icono}}</i>
					<p>{{etiqueta}}</p>
				</div>
				{{/each}}
			</div>			
		</div>
		{{/if}}
		
		{{#if esAdmin}}
		<div class="contenedor-leyendas">
			<h3>Hola EdU!</h3>
		</div>
		{{/if}}
		
    <div id="link-logout">
			<i class="material-icons">power_settings_new</i>
			<span> Cerrar sesión</span>
		</div>
  </div>  
</template>