<template name="entregas">
	<h1><i class="material-icons">rule</i> Entregas</h1>
	<select id="curso">
		<option value="7Ab">7A básico</option>
		<option value="7Bb">7B básico</option>
		<option value="7Cb">7C básico</option>		
	</select>	
	
	<!-- COLUMNA ESTATICA DE EJEMPLO EN https://www.codeply.com/go/bp/g8pfBXOcY9 -->
	
	<div class="tabla">
		<div class="entregas">
			<table>
				<thead>					
					<tr>
						<th class="cabecera"><p>ALUMNOS</p></th>
						{{#each tareas}}
						<th class="rotated" id="{{_id}}">
							<div class="periodo">
								<div class="numero">{{formatoFecha fecha 'D/MMM'}}</div>
							</div>
						</th>
						{{/each}}
						<th class="rotated">
							<div class="periodo">
								<div class="numero">
									<i class="material-icons">add_task</i>
								</div>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					{{#each alumnos}}
					<tr>
						<th class="estatica">
							<div class="celda alumno">
								<div class="nombres">{{nombres}}</div>
								<div class="apellidos">{{apellidos}}</div>
							</div>
						</th>
						{{#each entregas}}
						{{#if _id}}
						<td id="{{_id}}" style="background-color: {{celda.color}}">
							<i class="material-icons">{{celda.icono}}</i>
						</td>
						{{else}}
						<td id="{{_id}}" style="background-color: {{celda.color}}">
							<i class="material-icons">{{celda.icono}}</i>
						</td>
						{{/if}}
						{{/each}}
					</tr>
					{{/each}}
				</tbody>
			</table>				
		</div>
	</div>
	{{> tarea}}
	{{> revision}}
</template>