.contenedor .revision {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 18px;
}

.contenedor-revision {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  transform: translate(100%, 0); 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	background-color: ghostwhite;
	background-size: cover;
	padding-top: 42px;
}

.contenedor-revision.activo {
  transform: translate(0%, 0); 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.contenedor-revision .cruz {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
}

.contenedor-revision .detalle {
	margin: 2px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 8px;
	border: 2px solid gray;
	color: black;
	overflow-y: scroll;
	height: calc(100vh - 120px);
}

.contenedor-revision .detalle small {
	color: black;
}

.descripcion .encabezado {
	display: flex;
	padding: 0.4em;
}

.contenedor-revision button {
	margin-top: 10px;
	margin-bottom: 10px;
	width: calc(100% - 20px);
	font-size: 16px;
	padding: 10px;
}