<template name="tarea">
	<div class="contenedor-tarea">
		<div class="cruz">
			<i class="material-icons">clear</i>
		</div>
		<div class="detalle">
			<h1><span class="material-icons">add_task</span> Nuevo Desafío</h1>
			<div class="row">
				<div class="label">Descripión</div>
				<textarea rows="5"></textarea>
			</div>
			<div class="row">
				<div class="label">URL Cápsula</div>
				<input type="text">
			</div>
			<div class="row">
				<div class="label">Fecha Inicio</div>
				<input type="text">
			</div>
			<div class="row">
				<div class="label">Fecha Término</div>
				<input type="text">
			</div>

			<button class="btn-guardar-tarea">
				<i class="material-icons">save</i>
				<span>Guardar TAREA</span>
			</button>

		</div>
	</div>
</template>