.contenedor-tarea {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  transform: translate(100%, 0); 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	background-color: ghostwhite;
	background-size: cover;
	padding-top: 42px;
	
	&.activo {
		transform: translate(0%, 0); 
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	
	.cruz {
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 18px;
	}
	
	.detalle {
		margin: 2px;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 8px;
		border: 2px solid gray;
		color: black;
		overflow-y: scroll;
		height: calc(100vh - 120px);
	}
	
	.campo-descripcion {
		text-align: justify;
		margin: 0px 0.5em;
	}
	
	.campo-formulario {
		max-width: 320px;
		margin: 0.7em auto;
		
		&.addonleft {
			position: relative;
			
			input {
				z-index: 0;
			}
			
			i {
				color: darkgrey;
				position: absolute;
				text-align: left;
				left: 16px;
				top: 24px;
				z-index: 1;
			}
		}
		
		.label {
			display: block;
			width: 100%;
			text-align: left;
			color: black;
		}
		
		.datetimepicker-component {
			padding-left: 48px;
		}
		
		input[type="radio"] {
			margin-left: 12px;
		}
		
		.marco-video-upload {
			display: flex;
			width: 100%;
			
			.video {
				display: block;
				position: relative;
				width: 120px;
				height: 120px;
				border: 2px solid gray;
				border-radius: 6px;
				font-size: 12px;
				margin-top: 4px;
				z-index: 0;

				.drop-video {
					position: absolute;
					opacity: 0;
					width: 116px;
					height: 116px;
					background-image: url(/img/drag-and-drop.png);				
					background-size: cover;					
					background-position: center;
					border-radius: 6px;
					top: 0px;
					left: 0px;
					z-index: 1;

					&.activo {
						opacity: 1;
					}
				}
				
				.uploading-video {
					opacity: 0;
					z-index: 2;
					
					&.activo {
						opacity: 1;
					}
				}				

				input[type="file"] {
					display: none;
				}

				i {
					width: 45px;
					height: 45px;
					background-color: ghostwhite;
					border: 2px solid gray;
					border-radius: 50%;
					margin-top: 15px;
					padding-top: 2px;
					font-size: 38px;
					color: gray;
				}				
			}
			
			.nombre-archivo {
				position: relative;
				display: block;
				height: 42px;
				margin-left: 24px;
				padding: 0.5em 0.7em;
				border: 2px solid black;
				border-radius: 8px;
				top: 40px;
				
				i {
					top: -4px;
				}
				
				span {
					position: relative;
					top: -8px;
				}
				
				&.rojo {
					color: orangered;
					border: 2px solid orangered;
				}
			}
		}		
	}

	button {
		&.btn-juegas {
			margin-top: 10px;
			margin-bottom: 10px;
			width: calc(100% - 20px);
			max-width: 320px;
			font-size: 16px;
			padding: 10px;
		}

		&.btn-eliminar-tarea {
			background-color: salmon;
		}
	}
}