<template name="tarea">
	<div class="contenedor-tarea">
		<div class="cruz">
			<i class="material-icons">clear</i>
		</div>
		<div class="detalle">
			<h1>
				{{#if desafio}}
					<span class="material-icons">create</span> Editar Desafío
				{{else}}
					<span class="material-icons">add_task</span> Nuevo Desafío
				{{/if}}
			</h1>
			<div class="campo-formulario">
				<div class="label">Descripión</div>
				<textarea id="input-descripcion" rows="5">{{desafio.descripcion}}</textarea>
			</div>
			<div class="campo-formulario">
				<div class="label">URL Cápsula</div>
				<input type="text" id="input-url" value="{{desafio.url}}">
			</div>
			<div class="campo-formulario">
				<div class="label">Fecha Inicio</div>
				<input type="text" id="input-desde" class="datetimepicker-component" value="{{formatoFecha desafio.desde 'DD/MM/YY HH:mm'}}">
			</div>
			<div class="campo-formulario">
				<div class="label">Fecha Término</div>
				<input type="text" id="input-hasta" class="datetimepicker-component" value="{{formatoFecha desafio.desde 'DD/MM/YY HH:mm'}}">
			</div>

			<button class="btn-guardar-tarea">
				<i class="material-icons">save</i>
				<span>Guardar TAREA</span>
			</button>

		</div>
	</div>
</template>