<template name="login">
  <div class="contenedor-login capa-gradiante celeste">
    <div class="capa-foto"></div>

    <div class="formulario">
      <img class="logo" src="/img/logo.png">
      <h2>JUEGAS <small>v{{version}}</small></h2>
      <div class="campo">
        <i class="material-icons">account_box</i>
        <input type="text" id="input-rut" placeholder="RUT">
      </div>
      <div class="campo">
        <i class="material-icons">lock</i>
        <input id="input-password" type="password">
      </div>
      <button class="btn-juegas" id="btn-login"><i class="material-icons">
          launch
        </i><span> JUEGO</span></button>
			<p class="errores">{{errores}}</p>
    </div>    
  </div>
</template>