<template name="pie">
	<section name="pie">
		{{#if esAlumno}}
			<!--div class="accion agenda activo">
			<i class="material-icons">schedule</i>
			<p>Desafíos</p>
		</div>
		<div class="accion sesion">
			<i class="material-icons">feedback</i>
			<p>Comentarios</p>
		</div>
		<div class="accion logros">
			<i class="material-icons">emoji_events</i>
			<p>Logros</p>
		</div-->
		{{/if}}

		{{#if esProfesor}}
			<!--div class="accion home">
			<i class="material-icons">home</i>
			<p>Principal</p>
		</div>
		<div class="accion entregas activo">
			<i class="material-icons">rule</i>
			<p>Entregas</p>
		</div>
		<div class="accion dudas">
			<i class="material-icons">live_help</i>
			<p>Dudas</p>
		</div>
		<div class="accion historia">
			<i class="material-icons">bar_chart</i>
			<p>Historia</p>
		</div-->
		{{/if}}

		{{#if esAdmin}}
		<div class="accion" ruta="/importar-cursos">
			<i class="material-icons">attachment</i>
			<p>Cursos</p>
		</div>
		<div class="accion activo" ruta="/cuentas/profesor">
			<i class="material-icons">people_alt</i>
			<p>Cuentas</p>
		</div>
		<div class="accion" ruta="/configuraciones">
			<i class="material-icons">settings</i>
			<p>Config</p>
		</div>
		{{/if}}
	</section>
</template>