.contenedor .menu {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 18px;
}

.contenedor-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  transform: translate(100%, 0); 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.contenedor-menu.activo {
  transform: translate(0%, 0); 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.contenedor-menu .cruz {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
}