<template name="entrega">
  <div class="entrega">
    <h3 style="margin-top: 6px;">
      <i class="material-icons" 
         style="position: relative; top: 5px;">search</i> 
      La llegada de los españoles
    </h3>
		<p>Trabajo de investigación</p>
		<p>Plazos: <span class="material-icons">flag</span> ma 5/sep 8:00
						<span class="material-icons">alarm_on</span> ju 7/sep 18:00
		</p>
  </div>
  
  <div class="contenedor-entrega">
    <div class="barra-dia">
			
      <div class="barra gris">
        <div class="tipo">
					<span class="material-icons">search</span>
				</div>      
        <div class="descripcion-tarea">
					<div class="titulo">Arturo Prat contra el Huascar</div>
					<div class="plazo">
						<span class="material-icons">flag</span> ma 5/sep 8:00
						<span class="material-icons">alarm_on</span> ju 7/sep 18:00
					</div>
				</div>
        <div class="check">
          <span class="material-icons">military_tech</span>
        </div>      
      </div>
			
      <div class="barra gris">
        <div class="tipo">
					<span class="material-icons">settings_voice</span>
				</div>      
        <div class="descripcion-tarea">
					<div class="titulo">La llegada de los españoles</div>
					<div class="plazo">
						<span class="material-icons">flag</span> ma 5/sep 8:00
						<span class="material-icons">alarm_on</span> ju 7/sep 18:00
					</div>
				</div>
        <div class="check">
          <span class="material-icons">remove_circle</span>
        </div>      
      </div>
			
      <div class="barra gris">
        <div class="tipo">
					<span class="material-icons">videocam</span>
				</div>      
        <div class="descripcion-tarea">
					<div class="titulo">Los indígenas de Chile</div>
					<div class="plazo">
						<span class="material-icons">flag</span> ma 5/sep 8:00
						<span class="material-icons">alarm_on</span> ju 7/sep 18:00
					</div>
				</div>
        <div class="check">
          <span class="material-icons">check_circle</span>
        </div>      
      </div>
			
      <div class="barra gris">
        <div class="tipo">
					<span class="material-icons">search</span>
				</div>      
        <div class="descripcion-tarea">
					<div class="titulo">Arturo Prat contra el Huascar</div>
					<div class="plazo">
						<span class="material-icons">flag</span> ma 5/sep 8:00
						<span class="material-icons">alarm_on</span> ju 7/sep 18:00
					</div>
				</div>
        <div class="check">
          <span class="material-icons">military_tech</span>
        </div>      
      </div>
			
      <div class="barra gris">
        <div class="tipo">
					<span class="material-icons">create</span>
				</div>      
        <div class="descripcion-tarea">
					<div class="titulo">Arboles nativos</div>
					<div class="plazo">
						<span class="material-icons">flag</span> ma 5/sep 8:00
						<span class="material-icons">alarm_on</span> ju 7/sep 18:00
					</div>
				</div>
        <div class="check">
          <span class="material-icons">military_tech</span>
        </div>      
      </div>      
						
      <div class="barra gris">
        <div class="tipo">
					<span class="material-icons">search</span>
				</div>      
        <div class="descripcion-tarea">
					<div class="titulo">Arturo Prat contra el Huascar</div>
					<div class="plazo">
						<span class="material-icons">flag</span> ma 5/sep 8:00
						<span class="material-icons">alarm_on</span> ju 7/sep 18:00
					</div>
				</div>
        <div class="check">
          <span class="material-icons">military_tech</span>
        </div>      
      </div>
			
      <div class="barra gris">
        <div class="tipo">
					<span class="material-icons">settings_voice</span>
				</div>      
        <div class="descripcion-tarea">
					<div class="titulo">La llegada de los españoles</div>
					<div class="plazo">
						<span class="material-icons">flag</span> ma 5/sep 8:00
						<span class="material-icons">alarm_on</span> ju 7/sep 18:00
					</div>
				</div>
        <div class="check">
          <span class="material-icons">record_voice_over</span>
        </div>      
      </div>
			
      <div class="barra gris">
        <div class="tipo">
					<span class="material-icons">videocam</span>
				</div>      
        <div class="descripcion-tarea">
					<div class="titulo">Los indígenas de Chile</div>
					<div class="plazo">
						<span class="material-icons">flag</span> ma 5/sep 8:00
						<span class="material-icons">alarm_on</span> ju 7/sep 18:00
					</div>
				</div>
        <div class="check">
          <span class="material-icons">military_tech</span>
        </div>      
      </div>
			
      <div class="barra gris">
        <div class="tipo">
					<span class="material-icons">search</span>
				</div>      
        <div class="descripcion-tarea">
					<div class="titulo">Arturo Prat contra el Huascar</div>
					<div class="plazo">
						<span class="material-icons">flag</span> ma 5/sep 8:00
						<span class="material-icons">alarm_on</span> ju 7/sep 18:00
					</div>
				</div>
        <div class="check">
          <span class="material-icons">grade</span>
        </div>      
      </div>
			
      <div class="barra gris">
        <div class="tipo">
					<span class="material-icons">create</span>
				</div>      
        <div class="descripcion-tarea">
					<div class="titulo">Arboles nativos</div>
					<div class="plazo">
						<span class="material-icons">flag</span> ma 5/sep 8:00
						<span class="material-icons">alarm_on</span> ju 7/sep 18:00
					</div>
				</div>
        <div class="check">
          <span class="material-icons">military_tech</span>
        </div>      
      </div>
			
    </div>
  </div>
</template>