<template name="sesion">
  <div class="info">
    <h3 style="margin-top: 6px;">
      <i class="material-icons" 
         style="position: relative; top: 5px;">feedback</i> 
      Enriquese tus sesiones
    </h3>
    <p>Lunes 15/Ene</p>
  </div>
  
  <div class="creditos">
    <p class="titulo">Sesión N°</p>
    <p class="contador">16</p>
  </div>
  
  <div class="contenedor-programa">
    <div class="barra-fase">
      <div class="evaluar">
        <i class="material-icons">feedback</i> 
      </div>
      <div class="nombre">        
        <i class="material-icons">trending_up</i> 
        <span style="font-size: 20px;">Historia</span>
      </div>
      <div class="duracion">
        <i class="material-icons">alarm</i> 
        mar 25/sep 18:30
      </div>
      <div class="ejercicios">
        <ul>
          <li>Has mejorado en las redacciones</li>
          <li>Debes mejorar</li>
          <ul>
            <li>Repasa los vetos presidenciales de 70's</li>
            <li>Repasa los señores de los Anillos</li>
          </ul>
        </ul>
      </div>
    </div> 

    <div class="barra-fase">
      <div class="evaluar">
        <i class="material-icons">feedback</i> 
      </div>
      <div class="nombre">        
        <i class="material-icons">model_training</i>
        <span style="font-size: 20px;">Lenguaje</span>
      </div>
      <div class="ejercicios">
        <ul>
          <li>Memoria</li>
          <ul>
            <li>Repetir varias veces los textos frente al espejo</li>
            <li>Sonreír en la presentación</li>
            <li>Mover expresivamente las manos</li>
          </ul>
        </ul>
      </div>
    </div>
    
  </div>
</template>