<template name="home">
	<div class="marco-panel">
		<div class="cuadro-superior">

			<div class="panel panel-entregas">
				<div class="titulo">
					<h1>ENTREGAS</h1>
				</div>
				<div class="general">
					<div class="porcentaje">
						<span class="valor">87</span>
						<span class="porciento">%</span>
					</div>
					<div class="resumen">
						<span>18 / 20</span>
					</div>
				</div>
				<div class="pendientes">
					<div class="entregas">
						<div class="icono">
							<i class="material-icons">check_circle</i>
						</div>
						<p class="valor">7</p>
						<span>Tareas recibidas</span>
					</div>
					<div class="consultas">
						<div class="icono">
							<i class="material-icons">live_help</i>
						</div>
						<p class="valor">4</p>
						<span>Consultas pendientes</span>
					</div>
				</div>
			</div>

			<div class="panel panel-dudas">
				<div class="titulo">
					<h1>CONSULTAS</h1>
				</div>
				<div class="general">
					<div class="valor">
						<span>5/15</span>
					</div>
				</div>
				<div class="pie">
					<span class="texto">Promedio:</span>
					<span class="valor">4</span>
					<span class="texto">/semanal</span>
				</div>
			</div>

		</div>

		<div class="panel panel-programa">
			<div class="titulo">
				<h1>PROGRAMA</h1>
				<div class="contenido">
					<div class="resumen">
						<div class="valor">
							<span>2/7</span>
						</div>
						<p>Realizados</p>
					</div>
					<div class="asignaturas">
						<div class="asignatura">
							<span>x4</span>
							<i class="material-icons">check_circle</i>
						</div>
						<div class="asignatura">
							<span>x2</span>
							<i class="material-icons">check_circle</i>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</template>