<template name="modalconfirmar">
  <div class="modal" id="modalconfirmar">
    <div class="overlay"></div>
    <div class="contenido">
      <div class="cruz">
        <i class="material-icons">close</i>
      </div>
      <div class="titulo">
        <h3>Adquirir créditos</h3>
        <span>Para obtener créditos, deposita según <br/>tu disponibilidad e interés</span>
      </div>      
      <div class="planes">        
        <div class="opcion" numero="1">
          <div class="clasessemana">2</div>
          <p>clases x semana</p>
          <div class="total">(8 clases / mes)</div>
          <div class="valor">$ 20.000</div>
        </div>
        <div class="opcion" numero="2">
          <div class="clasessemana">3</div>
          <p>clases x semana</p>
          <div class="total">(12 clases / mes)</div>
          <div class="valor">$ 25.000</div>
        </div>
        <div class="opcion" numero="3">
          <div class="clasessemana">4</div>
          <p>clases x semana</p>
          <div class="total">(16 clases / mes)</div>
          <div class="valor">$ 30.000</div>
        </div>        
      </div>
      <div class="deposito">
        <p>Has tu posito a <b>FitUp SpA</b></p>
        <p>RUT: XX.XXX.XXX-X</p>
        <p>Cuenta Corriente N°</p>
        <p><b>847657487635</b></p>
      </div>
      <div class="tip">
        <i class="material-icons">info</i>
        <span>Tus créditos estarán disponibles el día hábil siguiente a tu depósito.</span>
      </div>
    </div>
  </div>
</template>