<template name="login">
  <div class="contenedor-login capa-gradiante celeste">
    <div class="capa-foto"></div>

    <div class="formulario login">
      <img class="logo" src="/img/logo.png">
      <h2>JUEGAS <small>v0.1</small></h2>
      <div class="campo">
        <i class="material-icons">account_box</i>
        <input type="text" id="input-rut" placeholder="RUT">
      </div>
      <div class="campo">
        <i class="material-icons">lock</i>
        <input id="input-password" type="password">
      </div>
      <button id="btn-login"><i class="material-icons">
          launch
        </i> JUEGO</button>
			<p class="errores">{{errores}}</p>
      <div class="pie">
        <a id="link-registrame">Registrame</a> |
        <a id="link-olvido">Olvidé mi password</a>
      </div>
    </div>
    
    <div class="formulario registrame">
      <div class="titulo">
        <h2>Registrate!</h2>
        <span style="font-size: 80%; margin-top: -10px">Soy nuevo aquí!</span>
      </div>
      
      <span>RUT</span>
      <div class="campo">
        <input type="text" placeholder="RUT">
      </div>
      <span>e-mail</span>
      <div class="email">
        <input type="text" placeholder="ejemplo@mydom.com">
      </div>
      <div style="width: 100%; text-align: center">
        <button id="btn-registrar">Registrame!</button>
      </div>      
      <div class="pie">
        <a id="link-login">Login</a> |
        <a id="link-olvido">Olvidé mi password</a>
      </div>
    </div>
    
    <div class="formulario olvido">
      <div class="titulo">
        <h2>¿Olvidaste tu clave?</h2>
        <span style="font-size: 80%; margin-top: -10px">Coloca tu email y recibirás las instrucciones</span>
      </div>
      <span>Tu e-mail</span>
      <div class="campo">
        <i class="material-icons">account_box</i>
        <input type="email" placeholder="email / username">
      </div>
      <div style="width: 100%; text-align: center">
        <button id="btn-enviar">Envíar instrucciones</button>
      </div>      
      <div class="pie">
        <a id="link-login">Login</a> |
        <a id="link-registrame">Registrame</a>
      </div>
    </div>
    
  </div>
</template>