.contenedor-login {
  width: 100%;
  height: 100vh;
  display: block;
  text-align: center;
  position: absolute;
}

.contenedor-login .capa-foto {
  position: relative;
  background: url(img/background-login.jpg);
  width: auto;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
  filter: opacity(.1);
}

.contenedor-login h1 {
  font-weight: lighter;
}

.contenedor-login .formulario {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  display: none;
}

.contenedor-login .formulario.login {
  margin: 100px 10%;
}

.contenedor-login .logo {
  width: 120px;
	border: 2px solid rgb(186, 186, 186);
	border-radius: 50%;
}

.contenedor-login .formulario .campo {
  position: relative;
  width: 100%;
  height: 3em;
  display: block;
}

.contenedor-login .formulario .campo input {
	width: 160px;
}


.contenedor-login .formulario.registrame {
  text-align: left;
  padding: 0 2em;
}

.contenedor-login .formulario.olvido {
  text-align: center;
  margin: 30% 10%;
} 

.contenedor-login .formulario.registrame .titulo,
.contenedor-login .formulario.olvido .titulo {
  margin-bottom: 1em;
}

.contenedor-login .formulario.registrame .titulo h2,
.contenedor-login .formulario.olvido .titulo h2 {
  margin-bottom: 0px;
}

.contenedor-login .formulario.registrame .campo {
  width: 100%;
  margin-bottom: 1em;  
}

.contenedor-login .formulario.registrame .campo input {
  width: -webkit-fill-available;
}

.contenedor-login .formulario .campo i.material-icons {
  position: absolute;
  color: darkgrey;
  top: 9px;
  padding-left: 9px;
}

.contenedor-login .formulario button {
  width: 207px;
}

.contenedor.login .formulario .campo input {
  padding-left: 32px;
}

.contenedor-login .formulario button {
  margin: 1em auto;
}

.contenedor-login .formulario .pie {
  width: 100%;
  text-align: center;
}

.contenedor-login a {
  color: skyblue;
  font-size: 11px;
}

.contenedor-login input[type="text"],
.contenedor-login input[type="password"] {
  padding: 12px 16px 12px 36px;
}