<template name="logros">
  <div class="info">
    <h3 style="margin-top: 6px;">
      <i class="material-icons" 
         style="position: relative; top: 5px;">emoji_events</i> 
      Tus logros
    </h3>
    <div class="info">
      <div class="resumen">
        <h3><small>Constancia </small>
          <br/>
          <b style="font-size: 140%;">Mejorable</b>
          <span style="font-size: 10px;">Se destaca el esfuerzo. Vamos a entrenar algunas cosas.</span>  
        </h3>            
      </div>
    </div>
    <div class="graficos">
      <div class="grafico">
        <div class="calorias"></div>
        <span>Entregas</span>
      </div>
      <div class="grafico">
        <div class="horas"></div>
        <span>Puntualidad<br/>entrenando</span>
      </div>
      <div class="grafico">
        <div class="kilos"></div>
        <span>Kilos<br/>levantados</span>
      </div>
    </div>
    <div class="grafico-solo">
      <div class="resumen"></div>
      <span>Constancia / Progreso</span>
    </div>
  </div>
</template>