.graficos {
  display: flex;
  text-align: center;
  padding: 4px;
}

.grafico span,
.grafico-solo span {
  font-size: 11px;
}

.texto-central {
  font-weight: lighter;
  fill: white;
  font-size: 30px;
}

.grafico-solo {
  width: 100%;
  text-align: center;
}