.contenedor-desafio {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background-image: linear-gradient(180deg, #a8dfb5, #aadcd8, #d0def7);
  background-size: cover;
  padding-top: 42px;

  &.activo {
    transform: translate(0%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .cruz {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 22px;
  }

  .detalle {
    margin: 2px;
    color: black;
    overflow-y: scroll;
    height: calc(100vh - 60px);

    .resumen {
      .pregunta {
        font-size: 18px;
        font-weight: bolder;
      }
    }

    .bordeado {
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 8px;
      margin: 0 1em 2em 1em;
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);

      .encabezado {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 1em;
        .titulo {
          font-size: 22px;
          font-weight: bolder;
        }
        .subtitulo {
          font-size: 16px;
        }
        .asignatura {
          margin: 0 auto;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 16px;
          color: white;
          font-size: 14px;
          width: 180px;
          position: relative;
          left: -4px;
          .material-icons {
            font-size: 26px;
            position: relative;
            top: 4px;
          }
          span {
            position: relative;
            top: -5px;
            left: 4px;
          }
        }
      }

      .contenido {
        padding: 1em;
        color: #505774;

        .leyenda {
          background-color: rgba(255, 255, 255, 0.7);
          padding: 8px 6px 3px 6px;
          margin: 2px 80px 15px 80px;
          border-radius: 8px;
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
          li {
            list-style: none;
            text-align: left;
          }
        }
      }

      .submarco {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 8px 6px 3px 6px;
        margin: 1em;
        border-radius: 8px;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
      }
    }

    small {
      color: black;
    }

    .video {
      video {
        width: 100%;
      }

      .thumb {
        width: 400px;
        margin-left: 50%;
      }
    }

    .descripcion {
      .editor {
        padding: 10px;
        text-align: justify;
      }
    }

    .marco-fotografias {
      background-image: linear-gradient(45deg, #bde6ca, #d2e5e4);
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);

      .evidencias {
        display: flex;
        padding: 0.5em;

        .camara {
          display: block;
          position: relative;
          width: 120px;
          height: 120px;
          background-color: white;
          border-radius: 6px;
          font-size: 12px;
          margin-top: 4px;
          color: #359791;
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
          z-index: 0;
          cursor: pointer;

          .drop-texto {
            position: absolute;
            opacity: 0;
            width: 116px;
            height: 116px;
            background-image: url(/img/drag-and-drop.png);
            background-size: cover;
            background-position: center;
            border-radius: 6px;
            top: 0px;
            left: 0px;
            z-index: 1;

            &.activo {
              opacity: 1;
            }
          }

          i {
            width: 50px;
            height: 50px;
            background-color: #359791;
            border: 2px solid white;
            border-radius: 50%;
            margin-top: 15px;
            padding-top: 4px;
            font-size: 38px;
            color: white;
          }
        }

        .fotos {
          display: flex;
          flex-wrap: wrap;
          width: calc(100% - 120px);

          .no-fotos {
            font-size: 18px;
            margin: 4px auto;
            color: #505774;
            font-weight: bolder;
          }

          .foto {
            .marco-foto-evidencia {
              margin-left: 16px;
              background-color: rgba(255, 255, 255, 0.5);
              border-radius: 4px;
              margin: 4px;

              img {
                width: 100px;
                margin: 2px;
              }

              p {
                padding-left: 4px;
                text-decoration: underline;
                color: royalblue;
                width: 100%;
                text-align: left;
                cursor: zoom-in;
              }

              .eliminar-foto-evidencia {
                background-color: orangered;
                border-radius: 3px;
                padding: 2px 8px;
                color: white;
                height: 30px;
                width: 100px;
                margin: 2px;
                cursor: pointer;

                i {
                  margin-top: 1px;
                }

                span {
                  position: relative;
                  top: -8px;
                }
              }
            }
          }
        }
      }
    }

    .marco-videos {
      background-image: linear-gradient(45deg, #bde6ca, #d2e5e4);
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);

      .evidencias {
        display: flex;
        padding: 0.5em;

        .videocamara {
          display: block;
          position: relative;
          width: 120px;
          height: 120px;
          background-color: white;
          border-radius: 6px;
          font-size: 12px;
          margin-top: 4px;
          color: #359791;
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
          z-index: 0;
          cursor: pointer;

          i {
            width: 50px;
            height: 50px;
            background-color: #359791;
            border: 2px solid white;
            border-radius: 50%;
            margin-top: 15px;
            padding-top: 4px;
            font-size: 38px;
            color: white;
          }
        }

        .videos {
          display: flex;
          flex-wrap: wrap;
          width: calc(100% - 120px);

          .no-videos {
            font-size: 18px;
            margin: 4px auto;
            color: #505774;
            font-weight: bolder;
          }

          .evidencia-video {
            .marco-video-evidencias {
              margin-left: 16px;
              background-color: rgba(255, 255, 255, 0.5);
              border-radius: 4px;
              margin: 4px;

              .nombre-video {
                padding: 4px 6px 0px 6px;
                text-decoration: underline;
                color: royalblue;
                width: 100%;
                text-align: left;
                cursor: zoom-in;
              }

              .eliminar-video-evidencia {
                background-color: orangered;
                border-radius: 3px;
                padding: 2px 8px;
                color: white;
                height: 30px;
                margin: 2px;
                cursor: pointer;

                i {
                  margin-top: 1px;
                }

                span {
                  position: relative;
                  top: -8px;
                }
              }
            }
          }
        }
      }
    }

    .marco-calificacion {
      text-align: center;
      .calificacion {
        margin: 0 auto 1em auto;
        width: 120px;
        height: 120px;
        padding: 0.5em;
        border-radius: 50%;

        i {
          margin-top: 16px;
          font-size: 42px;
        }
      }
    }

    .marco-comentarios-profesor {
      p {
        text-align: justify;
        font-size: 14px;
      }
    }

    button {
      margin-top: 10px;
      margin-bottom: 10px;
      width: calc(100% - 20px);
      font-size: 16px;
    }
  }

  .contenedor-kpsis {
    .kpsis {
      .kpsi {
        display: flex;
        margin-bottom: 4px;

        .texto {
          width: 20px;
        }

        .descripcion-kpsi {
          width: 250px;
          text-align: left;
        }

        .valor {
          display: flex;

          .numero {
            width: 32px;
            height: 32px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.2);
            color: rgba(255, 255, 255, 0.6);
            border-radius: 8px;
            margin-right: 6px;
            padding-top: 5px;
            cursor: pointer;

            &.activo {
              background-color: #2875d2;
              color: white;
              -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
              box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
            }
          }
        }
      }
    }
  }

  .marco-video {
    position: absolute;
    display: block;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: black;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    .cruz {
      position: absolute;
      display: block;
      top: 10px;
      right: 10px;
      cursor: pointer;
      .material-icons {
        color: rgba(255, 255, 255, 0.6);
        font-size: 42px;
      }
    }

    &.activo {
      transform: translate(100%, 0);
    }

    video {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      background-color: black;
    }

    .marco-boton {
      position: absolute;
      display: block;
      left: calc(50% - 40px);
      bottom: 40px;
      border: 4px solid white;
      background-color: transparent;
      border-radius: 50%;
      width: 80px;
      height: 80px;

      #btn-start-recording {
        position: absolute;
        display: block;
        top: 4px;
        left: 4px;
        background-color: orangered;
        border-radius: 50%;
        width: 64px;
        height: 64px;
      }

      #btn-stop-recording {
        position: absolute;
        display: none;
        top: 14px;
        left: 14px;
        background-color: orangered;
        border-radius: 10%;
        width: 44px;
        height: 44px;
      }
    }
  }
}
